@import "./reset-addon.css";

:root { 
    --color-dark-navy: #13293D;
    --color-lime-green-dull: #93AB13;
    --color-lime-green-brighter: #bad526;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr 0.5fr;
}

header {
    background-color: lightgrey;
    height: 140px;
    display: flex;
    justify-content: space-between;
}


.book-collection-cntr {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: 250px;
    grid-auto-rows: 250px;
    justify-content: center;
    column-gap: 60px;
    row-gap: 60px;
}

    .book-card {
        background-color: lightslategrey;
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: center;
        padding: 25px;
        font-size: 1.4rem;
        font-weight: 500;

    .book-title {
        margin-bottom: auto;
    }

    .book-buttons-cntr {
        display: flex;
        justify-content: space-around;
    }
}

footer {
    background-color: lightgrey;
    display: flex;

    div {
        margin: auto;
    }
}