@import "./reset-addon.css";

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr 0.5fr;
}

header {
    background-color: aquamarine;
}

.main-content-cntr {
    background-color: lightpink;

    .book-collection-cntr {
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(8, 200px);
        grid-template-rows: 250px;
        grid-auto-rows: 200px;
        justify-content: space-around;
        row-gap: 60px;
    }

    .book-card {
        background-color: lightslategrey;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 25px;
        font-size: 1.4rem;
        font-weight: 500;
    }
}

footer {
    background-color: palegoldenrod;
    display: flex;

    div {
        margin: auto;
    }
}